body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif
}
main {
    margin: 0 auto;
    padding: 1.5rem;
    width: 35rem;
    height: 30rem;
    border: 1px solid black;
}
form, main {
    display: flex;
    flex-flow: column nowrap;
}
form {
    height: 100%;
    justify-content:space-around;
}
p {
    margin: 0;
}
h1, h2 {
    text-align: center;
}
h2 {
    font-size: 1.2rem;
    font-weight: normal;
}
.buttons {
    margin: 0 auto;
}
.buttons button, .buttons input {
    font-size: 1.1rem;
}
#angle3 {
    display: inline-block;
}
